<md-sidenav-container fullscreen style="background-color:#0091ea">
  <md-toolbar style="background-color:#0091ea; color:white;">                      <!-- toolbar starts -->
    <button md-icon-button (click)="sidenav.open()"><md-icon>menu</md-icon></button>
    <div style="margin-left: 20px;">
      <md-icon style="vertical-align:middle; margin-right:5px;">train</md-icon>
      टूरैल
    </div>
    <button md-icon-button [mdMenuTriggerFor]="menu" style="position:absolute; right: 20px;"><md-icon>more_vert</md-icon></button>
    <md-menu #menu="mdMenu">
      <md-nav-list>
        <button md-menu-item (click)="this.app.setV(1)">पी एन आर पूछ ताछ</button>
        <button md-menu-item (click)="this.app.setV(2)">सीट उपलब्धता</button>
        <button md-menu-item (click)="this.app.setV(3)">ट्रैन पथ</button>
        <button md-menu-item (click)="this.app.setV(4)">ट्रैन किराया </button>
        <button md-menu-item (click)="this.app.setV(5)">चलती गाडी का समयकाल</button>
        <button md-menu-item [routerLink]="['/']">Go To English Website</button>
      </md-nav-list>
    </md-menu>
  </md-toolbar>                                                                     <!-- toolbar ends -->
                                                 <!-- homecontent ends -->
  <md-sidenav #sidenav mode="over">
    <div *ngIf="!!this.stnserv.curr_stn">
      <md-nav-list>
        <a md-list-item (click)="sidenav.close()" style="color:grey">बंद करें !<md-icon>close</md-icon></a>
        <a md-list-item (click)="sidenav.close();this.homecontent=true;this.wipeBase();" style="background-color:#0091ea; color:white"> एक नया वर्चुअल टूर प्रारम्भ करे<md-icon style="padding:5px">search</md-icon></a>
        <a md-list-item (click)="showEntries=!showEntries">प्रवेश</a>
        <div *ngIf="showEntries" [@animate]="'fadeInLeft'">
          <md-list-item *ngFor="let i of this.entry_keys" (click)="sidenav.close();this.showSidenav(i,'Entry');" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;">{{i}}</md-list-item>
        </div>
        <a md-list-item (click)="showExits=!showExits">निकास</a>
        <div *ngIf="showExits" [@animate]="'fadeInLeft'">
          <a md-list-item *ngFor="let i of this.exit_keys" (click)="sidenav.close();this.showSidenav(i,'Exit');" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;">{{i}}</a>
        </div>
        <a md-list-item (click)="sidenav.close();this.showSidenav('','Enquiry')"> पूछ ताछ केंद्र</a>
        <a md-list-item (click)="showReservations=!showReservations"> टिकट घर</a>
        <div *ngIf="showReservations" [@animate]="'fadeInLeft'">
          <a md-list-item *ngFor="let i of this.ticket_counter_keys" (click)="sidenav.close();this.showSidenav(i,'Ticket');" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;">{{i}}</a>
        </div>
        <a md-list-item (click)="showOffices=!showOffices"> अन्य ऑफिस</a>
        <div *ngIf="showOffices" [@animate]="'fadeInLeft'">
          <a md-list-item *ngFor="let i of ['Station Master','Railway Police Force','TTE ( Train Ticket Examiner )','Railway Engineer','GRP Office']" (click)="sidenav.close();this.showSidenav('',i);" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;">{{i}}</a>
        </div>
        <a md-list-item (click)="showPlatforms=!showPlatforms"> प्लेटफार्म</a>
        <div *ngIf="showPlatforms">
          <div *ngIf="this.is_stair">
            <a md-list-item [@animate]="'fadeInLeft'" (click)="showStairs=!showStairs" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;"> प्लेटफार्म सीढ़ी</a>
              <div *ngIf="showStairs" [@animate]="'fadeInLeft'">
                <a md-list-item *ngFor="let i of this.pf_stair_entries" (click)="sidenav.close();this.showSidenav(i[0],'stair')" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#0288d1; padding-left: 30px;">प्लेटफार्म {{this.pf_stair_entries.indexOf(i)+1}}</a>
              </div>
          </div>
          <div *ngIf="this.is_under">
            <a md-list-item [@animate]="'fadeInLeft'" (click)="showUnder=!showUnder" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;"> प्लेटफार्म भूमिगत </a>
            <div *ngIf="showUnder" [@animate]="'fadeInLeft'">
              <a md-list-item *ngFor="let i of this.pf_under_entries" (click)="sidenav.close();this.showSidenav(i[0],'under')" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#0288d1; padding-left: 30px;">प्लेटफार्म {{this.pf_under_entries.indexOf(i)+1}}</a>
            </div>
          </div>
          <div *ngIf="this.is_slope">
            <a md-list-item [@animate]="'fadeInLeft'" (click)="showSlope=!showSlope" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;"> प्लेटफार्म स्लोपe</a>
            <div *ngIf="showSlope" [@animate]="'fadeInLeft'">
              <a md-list-item *ngFor="let i of this.pf_slope_entries" (click)="sidenav.close();this.showSidenav(i[0],'slope')" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#0288d1; padding-left: 30px;">प्लेटफार्म {{this.pf_slope_entries.indexOf(i)+1}}</a>
            </div>
          </div>
          <div *ngIf="this.is_escl">
            <a md-list-item [@animate]="'fadeInLeft'" (click)="showEscl=!showEscl" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;"> प्लेटफार्म  एसकेलेटर</a>
            <div *ngIf="showEscl" [@animate]="'fadeInLeft'">
              <a md-list-item *ngFor="let i of this.pf_escl_entries" (click)="sidenav.close();this.showSidenav(i[0],'escl')" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#0288d1; padding-left: 30px;">प्लेटफार्म {{this.pf_escl_entries.indexOf(i)+1}}</a>
            </div>
          </div>
        </div>
        <a *ngIf="is_waitingroom" md-list-item (click)="showWaiting=!showWaiting"> विराम कक्ष</a>
        <div *ngIf="showWaiting">
          <a md-list-item *ngFor="let i of this.pf_slope_entries" (click)="sidenav.close();this.showSidenav(i[0],'slope')" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#0288d1; padding-left: 30px;">Platform {{this.pf_slope_entries.indexOf(i)+1}}</a>
        </div>
        <a *ngIf="is_cloakroom" md-list-item (click)="sidenav.close();this.showSidenav('','cloak')"> लबादा कक्ष</a>
        <a md-list-item (click)="showCommodities=!showCommodities;"> सुविधाएं </a>
        <div *ngIf="showCommodities" [@animate]="'fadeInLeft'">
          <a md-list-item *ngFor="let i of this.commodity_keys" (click)="sidenav.close();this.commoditySearch(i);" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;">{{i}}</a>
        </div>
        <a md-list-item *ngIf="is_divyang"(click)="showDivyang=!showDivyang">  दिव्यांग सुविधाएं</a>
        <div *ngIf="showDivyang" [@animate]="'fadeInLeft'">
          <a md-list-item *ngFor="let i of this.divyang_keys" (click)="sidenav.close();this.showSidenav(i,'divyang')" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;">{{i}}</a>
        </div>
        <a  md-list-item (click)="shownearby=!shownearby"> आस पास की सुविधाएं</a>
        <div *ngIf="shownearby" [@animate]="'fadeInLeft'">
          <a md-list-item *ngFor="let i of this.nearby_keys" (click)="sidenav.close();this.plotme(i)" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;">{{i}}</a>
        </div>
        <a *ngIf="is_other" md-list-item (click)="showOthers=!showOthers"> अन्य सुविधाएं</a>
        <div *ngIf="showOthers" [@animate]="'fadeInLeft'">
          <a md-list-item *ngFor="let i of this.other_keys" (click)="sidenav.close();this.showSidenav(i,'other')" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;">{{i}}</a>
        </div>

          <a md-list-item (click)="showFood=!showFood"> भोजन मेनू</a>
        <div *ngIf="showFood" [@animate]="'fadeInLeft'">
          <a md-list-item *ngFor="let i of ['शाकाहारी नाश्ता 25 Rs','मांसाहारी नाश्ता 30 Rs',' शाकाहारी भोजन 45 Rs','मांसाहारी भोजन 50 Rs','शाकाहारी थाली 35 Rs','मांसाहारी थाली 40 Rs','जनता खाना 15 Rs']" (click)="sidenav.close();" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;">{{i}}</a>
          <a md-list-item [@animate]="'fadeInLeft'" (click)="showBevarages=!showBevarages" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;"><b> पेय पदार्थ</b></a>
          <div *ngIf="showBevarages">
          <a md-list-item [@animate]="'fadeInLeft'" *ngFor="let i of ['चाय सामान्य 5 Rs' , 'चाय - बैग  7 Rs' , 'चाय - पॉट 10 Rs' , 'कॉफ़ी 7 Rs', 'कॉफ़ी पॉट 15 Rs', 'पानी 500ml 10Rs' , 'पानी 1 lt. 15 Rs']" (click)="sidenav.close();" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#0288d1; padding-left: 30px;">{{i}}</a>
        </div>
        </div>
        <a md-list-item (click)="showContacts=!showContacts">रेलवे सहायता केंद्र</a>
        <div *ngIf="showContacts" [@animate]="'fadeInLeft'">
          <a md-list-item *ngFor="let i of ['ग्राहक सुविधा केंद्र.- 011-39340000','फैक्स 011-23345400','सुरक्षा 182','चिकित्सकीय 138','पी एन आर 139','मेरा कक्ष साफ़ करे 58888']" (click)="sidenav.close();" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;">{{i}}</a>
        </div>
      </md-nav-list>
    </div>
    <div [@animate]="'fadeIn'" *ngIf="!this.stnserv.curr_stn">
        <md-nav-list>
          <a md-list-item (click)="sidenav.close()">बंद करे<md-icon>close</md-icon></a>
          <a md-list-item style="background-color:rgba(197,102,102,0.6)" (click)="sidenav.close()"><span style="color:red;">कृपया एक स्टेशन ढूंढें</span></a>
          <a md-list-item (click)="showFood=!showFood">भोजन मेनू</a>
          <div *ngIf="showFood" [@animate]="'fadeInLeft'">
            <a md-list-item *ngFor="let i of ['शाकाहारी नाश्ता 25 Rs','मांसाहारी नाश्ता 30 Rs',' शाकाहारी भोजन 45 Rs','मांसाहारी भोजन 50 Rs','शाकाहारी थाली 35 Rs','मांसाहारी थाली 40 Rs','जनता खाना 15 Rs']" (click)="sidenav.close();" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;">{{i}}</a>
            <a md-list-item [@animate]="'fadeInLeft'" (click)="showBevarages=!showBevarages" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;"><b> पेय पदार्थ</b></a>
            <div *ngIf="showBevarages">
            <a md-list-item [@animate]="'fadeInLeft'" *ngFor="let i of ['चाय सामान्य 5 Rs' , 'चाय - बैग  7 Rs' , 'चाय - पॉट 10 Rs' , 'कॉफ़ी 7 Rs', 'कॉफ़ी पॉट 15 Rs', 'पानी 500ml 10Rs' , 'पानी 1 lt. 15 Rs']" (click)="sidenav.close();" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#0288d1; padding-left: 30px;">{{i}}</a>
          </div>

          </div>
          <a md-list-item (click)="showContacts=!showContacts">रेलवे सहायता केंद्र</a>
          <div *ngIf="showContacts" [@animate]="'fadeInLeft'">
            <a md-list-item *ngFor="let i of ['ग्राहक सुविधा केंद्र.- 011-39340000','फैक्स 011-23345400','सुरक्षा 182','चिकित्सकीय 138','पी एन आर 139','मेरा कक्ष साफ़ करे 58888']" (click)="sidenav.close();" style="background-color: #e1f5fe; border-left: 4px solid #0091ea; color:#01579b; padding-left: 20px;">{{i}}</a>
          </div>
        </md-nav-list>
    </div>
</md-sidenav>
                                                        <!-- sidenav ends-->
<div *ngIf="!this.homecontent">
  <div id="panocontent" >
    <div id="pano" style="height:80vh;">
      <md-input-container   style="background-color: rgba(10, 10, 10, 0.95); border-radius:3px; position:absolute; top:5px; left:5px; z-index:2;">
            <input  id="input" #ip mdInput (keyup)="searchcommodity(ip.value);showcommres=true" placeholder="&nbsp;स्टेशन की सुविधाएं ढूंढें" style="color:white;">
          </md-input-container>
          <br><br><br>
          <div *ngIf="showcommres">
         <md-nav-list [@animate]="'fadeInDown'" style="width:200px; top: 30px; left: 10px;" dense>
               <md-card *ngFor="let x of rescomm"  [@animate]="'fadeInDown'"  style="padding:0px;z-index:3;" (click)="this.dropdowncommodity(x);">
                   <a md-list-item>
                     {{ x }}</a>
                 </md-card>
               <md-divider></md-divider>
         </md-nav-list>
       </div>
          <br><br><br><br>
      <div [@animate]="swapout" id="map"></div>
      <button md-fab id="swapbtn" (click)="swapout=swapout=='bounceOutRight'?'bounceInRight':'bounceOutRight'"><md-icon>map</md-icon></button>
      </div>
    </div>
  </div>
<div *ngIf="this.homecontent">
  <div class="homecontent" [@animate]="'fadeIn'" >                                                         <!-- homecontent starts -->
    <div style="font-size: 20px; color:white;">
      <div style="margin-top: 20px;">
        एप्लीकेशन का टूर ले
        <button md-raised-button style="color:black; margin-top: 10px; margin-left: 10px;">चलानाा सीखे</button>
      </div>
      <div style="margin-top: 20px;">
        नज़दीकी रेलवे स्टेशन का टूर करे
        <button md-raised-button style="color:black; margin-top: 10px; margin-left: 10px;" (click)="this.navcity()">मेरे पास</button>
      </div>
      <div style="margin-top: 50px;">
        <span style="font-size: 30px;">अपना वर्चुअल टूर प्रारम्भ करिये</span><br>
        <md-input-container style="margin-top: 10px;">
          <input mdInput (keyup)="stnsearch(x.value)" (focus)="hidden=true" #x placeholder=" स्टेशन का नाम यहाँ डाले ">
        </md-input-container>
        <md-icon>search</md-icon>
        <md-nav-list *ngIf="hidden" [@animate]="'fadeInDown'" style="width:300px; margin: 0 auto;" dense>
            <md-card *ngFor="let x of this.res" [@animate]="'fadeInDown'"  style="padding:0px" (click)="this.stnserv.curr_stn=x.code;this.checkbase();hidden=false;this.homecontent=false;this.res=[]" >
                <a md-list-item>
                  {{ x.name }}</a>
              </md-card>
            <md-divider></md-divider>
      </md-nav-list>
      </div>
    </div>
  </div>
</div>
<md-sidenav #resultbar align="end">
        <md-nav-list style="width:200px">
          <a md-list-item (click)="resultbar.close()" style="color:grey">बंद करे<md-icon>close</md-icon></a>

            <md-card *ngFor="let x of this.commodityReply">
                <md-card-subtitle>{{x.c_type}}</md-card-subtitle>
                <md-card-title>{{x.name}}</md-card-title>
                <md-card-content>
                  <p>प्लेटफार्म : {{x.pf}}</p>
                  <p>वर्त्तमान स्थिति से दूरी(Approximate) : {{this.getCommodityDistanceRounded(x)}} m.</p>
                </md-card-content>
                <md-card-actions>
                  <button md-button md-tooltip="Click Outside to Close The Resultbar" (click)="this.startTour(this.returnCoord(x.latlng)[0])">यह जाए
                  </button>
                </md-card-actions>
                <md-divider></md-divider>
              </md-card>
        </md-nav-list>
      </md-sidenav>
    <img src="../../footer.png" style="position:absolute; bottom:5px; left:0px; width:100%;">
</md-sidenav-container>
